<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Піца</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<br>
<br>
<br>
<div class="container">
  <main role="main" class="pb-3">
    <h1>Інформація про замовлення</h1>
    <div>
      <hr/>
      <dl class="row">
        <dt class = "col-sm-2">
          ID
        </dt>
        <dd class = "col-sm-10">
          <p th:text="${order.getId()}"></p>
        </dd>
        <dt class = "col-sm-2">
          Клієнт
        </dt>
        <dd class = "col-sm-10">
          <p th:text="${order.getUser().getFirstName()} + ' ' + ${order.getUser().getLastName()}"></p>
        </dd>
        <dt class = "col-sm-2">
          Дата
        </dt>
        <dd class = "col-sm-10">
          <p th:text="${order.getOrderDate()}"></p>
        </dd>
        <dt class = "col-sm-2">
          Статус
        </dt>
        <dd class = "col-sm-10">
          <p th:text="${order.getStatus().getName()}"></p>
        </dd>
      </dl>
    </div>
    <h1>
      Список піц у замовленні
    </h1>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>
          Зображення
        </th>
        <th>
          Піца
        </th>
        <th>
          Кількість
        </th>
        <th>
          Дата
        </th>
        <th>
          Статус
        </th>
        <th>
          Операції
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pizzaOrder : ${order.getPizzaOrders()}">
        <td>
          <img th:src="${pizzaOrder.getPizza().getAvatarUrl()}" alt="avatar" width="150px;"/>
        </td>
        <td>
          <p th:text="${pizzaOrder.getPizza().getName()}"></p>
        </td>
        <td>
          <p th:text="${pizzaOrder.getCount()}"></p>
        </td>
        <td>
          <p th:text="${pizzaOrder.getAddingDate()}"></p>
        </td>
        <td>
          <p th:text="${pizzaOrder.getStatus().getName()}"></p>
        </td>
        <td sec:authorize="hasAuthority('Повар')" th:if="${pizzaOrder.getStatus().getName().equals('У черзі')}">
          <a th:href="@{/orders/startPrepare?id={id}(id=${pizzaOrder.getId()})}" style="color: green">Почати готувати</a>
        </td>
        <td sec:authorize="hasAuthority('Повар')" th:if="${pizzaOrder.getStatus().getName().equals('Готується')}">
          <a th:href="@{/orders/finishPrepare?id={id}(id=${pizzaOrder.getId()})}" style="color: green">Завершити приготування</a>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>