<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Онлайн піцерія</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == '/' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Головна сторінка</a>
                </li>

                <li sec:authorize="hasAuthority('Адміністратор')" th:classappend="${module == '/employees' ? 'active' : ''}">
                    <a href="#" th:href="@{/employees}">Повара</a>
                </li>

                <li sec:authorize="hasAuthority('Адміністратор')" th:classappend="${module == '/employees' ? 'active' : ''}">
                    <a href="#" th:href="@{/clients}">Клієнти</a>
                </li>

                <li sec:authorize="hasAuthority('Адміністратор')" th:classappend="${module == '/orders' ? 'active' : ''}">
                    <a href="#" th:href="@{/pizzas}">Меню</a>
                </li>

                <li sec:authorize="hasAuthority('Адміністратор')" th:classappend="${module == '/orders' ? 'active' : ''}">
                    <a href="#" th:href="@{/orders}">Замовлення</a>
                </li>

                <li sec:authorize="hasAuthority('Повар')" th:classappend="${module == '/orders' ? 'active' : ''}">
                    <a href="#" th:href="@{/activeOrders}">Активні замовлення</a>
                </li>

                <li sec:authorize="hasAuthority('Клієнт')" th:classappend="${module == '/orders' ? 'active' : ''}">
                    <a href="#" th:href="@{/pizzas}">Меню</a>
                </li>

                <li sec:authorize="hasAuthority('Клієнт')" th:classappend="${module == '/orders' ? 'active' : ''}">
                    <a href="#" th:href="@{/myOrders}">Мої замовлення</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Ввійти
                    </a>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/orders/bucket" th:href="@{/orders/bucket}">Кошик</a>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/myPage" th:href="@{/myPage}">
                        <span sec:authentication="name">Username</span>
                    </a>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Вийти
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>